@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MoretBold';
    src: url('/fonts/Moret-Bold.otf');
}

@font-face {
    font-family: 'MoretSMBold';
    src: url('/fonts/Moret-Semibold.otf');
}

@font-face {
    font-family: 'PsJkRegular';
    src: url('/fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: 'PsJkBold';
    src: url('/fonts/PlusJakartaSans-Bold.ttf');
}

.moret-bold {
    font-family: 'MoretBold';
}

.moret-smbold {
    font-family: 'MoretSMBold';
}

body {
    background-color: #F4F4F4;
    font-family: 'PsJkRegular';
    overflow-x: hidden;
}

.arrowScroll {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
}

@keyframes bounce {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0rem);
    }
}